#gallery {
    font-size: 0;
    width: 90%;
}

figcaption, p {
    font-size: 15px;
}

h2 {
    font-size: 30px;
}


@media (max-width: 480px) {
    section#gallery figure {
        width: 100%;
    }
}

@media (max-width: 768px) {
    section#gallery figure {
        width: 100%;
    }

    @media (min-width: 993px) {
        section#gallery figure {
            width: 33%;
        }
    }

    @media (min-width: 769px) and (max-width: 992px) {
        section#gallery figure {
            width: 50%;
        }