/*General style - start*/

* {

    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

body {
    background-color: #19820B;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

span {
    color: #1ac056;
    font-weight: 500;
}

/*General style - end*/

/*Navigation - start*/

nav#main-nav {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    top: 0;
    right: 0;
}

nav#main-nav > ul {
    float: right;
    margin: 0;
}

nav#main-nav > ul > li {
    list-style: none;
/*    display: inline-block;*/
    padding: 20px 40px;
}

nav#main-nav > ul > li a {
    text-decoration: none;
    color: #1ac056;
    font-weight: 300;
}

nav#main-nav > ul > li a:hover {
    color: #291f1a;
}

/*Navigation - end*/

/*Main header - start*/

header#main-header {
    background-image: url("../img/header-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;

}

header#main-header .main-header-content {
    padding: 30vh;
    text-align: center;
}

header#main-header .main-header-content h1 {
    font-size: 4em;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

header#main-header .main-header-content h2 {
    font-size: 2em;
    font-weight: 500;
}

/*Main header - end*/

/*About me*/

section#about {
    background-color: #f9fcfe;
    overflow: hidden;
}

section#about > figure {
    text-align: center;
    margin: 0;
    /*
    margin-right: 30px;
    float: left;
*/
}

section#about > figure > img {
    border: 14px solid #fff;
    border-radius: 15px;
    max-width: 100%;
    max-height: 350px;
}

.col-1-2 {
    width: 50%;
    float: left;
}

/*About me - end*/

/*Skills - start*/

section#skills {
    text-align: center;
}

section#skills > p {
    text-align: center;
}

section#skills #skills-icons figure {
    display: inline-block;
}

section#skills #skills-icons figure figcaption {
    text-transform: uppercase;
}

/*Skills - end*/

/*Sekcja portfolio*/

div.portfolio-items {
    text-align: center;
    font-size: 0
}

div#portfolio-item-1 {
    background-image: url(../img/portfolio1.jpg)
}

div#portfolio-item-2 {
    background-image: url(../img/portfolio2.jpg)
}

div#portfolio-item-3 {
    background-image: url(../img/portfolio3.jpg)
}

div.portfolio-items div.portfolio-item {
    position: relative;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    width: 33.3333%;
}

div.item-mask {
    background-color: rgba(42, 61, 79, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    font-size: initial;
}


div.item-mask:hover {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

div.portfolio-items div.portfolio-item div.item-content {
    position: relative;
    border: 1px solid #fff;
    margin: 10px;
    height: 330px;
}

div.item-content-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    padding: 5px;
    color: #fff;
}

div.item-content-inner a:hover {
    color: #1ac056;
}

/*Koniec portfolio*/