body {
    background-color: aqua;
}

textarea {
    width: 400px;
    height: 200px;
}

input:hover {
    background-color: antiquewhite;
}

select:hover {
    background-color: antiquewhite;
}

textarea:hover {
    background-color: antiquewhite;
}

label {
    background-color: aquamarine;
    font-size: 20px;
}
/**/