body {
    background-color: black;
    margin: 0;


/*            box-sizing: border-box;*/
}

/*
div#pole {
    background-color: aliceblue;
    background-size: contain;
    width: 100vw;
    height: 100vh;
    display: block;
}
*/

* {

    text-transform: uppercase;
    overflow-x: hidden;
    overflow-y: auto;
    /*    margin: 0 auto;*/
}

p {
    padding-left: 25px;
    padding-right: 50px;
}

p.iam {
    /*    padding-bottom: 0;*/
    font-size: 30px;
    padding-top: 300px;
}

p.front {
    /*    padding-top: 0;*/
    font-size: 40px;
    font-weight: 700;
}


@media (min-width: 1171px) {
    div.tlo {
        background-image: url(../img/man-1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
        color: white;
        font-size: 100%;
        /*        position: left;*/
    }
}

p {
    /*    padding: 20%;*/
    /*    padding-left: 30px;*/
}

@media (min-width: 992px)and (max-width: 1170px) {
    div.tlo {
        background-image: url(../img/man-2.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        /*        position: right;*/
        width: 100vw;
        height: 70vh;
        border-bottom: 30vh solid white;
        text-align: right;
        font-size: 50%;
/*                text-overflow: clip;*/
    }
}

@media (max-width: 991px) {
    div.tlo {
        background-image: url(../img/man-1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: black;
        /*        position: right;*/
        width: 100vw;
        height: 50vh;
        border-bottom: 50vh solid white;
        /*        font-size: 25%;*/
        text-align: center;
    }
}

/*
div#pole {
    background-color: aliceblue;
    display: inline-block;
    text-align: center;
    width: 100em;
    height: 100em;
    margin: 0;

}
*/

/**/