/* GENERAL STYLES - START */

* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    color: #291f1a;
    margin: 0;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

span {
    color: #1ac056;
}

section {
    width: 100%;
    padding: 0 80px 100px;
}

.col-1-2 {
    width: 50%;
    float: left;
}

/* GENERAL STYLES - END */

/* NAVIGATION - START */

nav#main-nav {
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0;
    right: 0;
    z-index: 2;
}

nav#main-nav > ul {
    float: right;
    margin: 0;
}

nav#main-nav > ul > li {
    display: inline-block;
    padding: 20px 40px;
}

nav#main-nav > ul > li a {
    text-decoration: none;
    color: #1ac056;
    font-weight: 300;
}

nav#main-nav > ul > li a:hover {
    color: #291f1a;
}

/* NAVIGATION - END */

/* MAIN HEADER - START */

header#main-header {
    background-image: url("../img/header-background.jpg");
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;
}

header#main-header .main-header-content {
    padding: 30vh;
/*
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
*/
    text-align: center;
}

header#main-header .main-header-content h1 {
    font-size: 4em;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

header#main-header .main-header-content h2 {
    font-size: 2em;
    font-weight: 300;
}

/* MAIN HEADER - END */

/* ABOUT ME - START */

section#about {
    background-color: #f9fcfe;
    overflow: hidden;
}

section#about > figure {
    text-align: center;
    margin: 0;
}

section#about > figure > img {
    border: 14px solid #fff;
    border-radius: 15px;
    max-width: 100%;
    max-height: 350px;
}

/* ABOUT ME - END */

/* SKILLS - START */

section#skills {
    text-align: center;
}

section#skills #skills-icons figure {
    display: inline-block;
}

section#skills #skills-icons figure figcaption {
    text-transform: uppercase;
}

/* SKILLS - END */








